@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&family=Share&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Raleway", Share;
}

.banner-container {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('https://images.unsplash.com/photo-1532330384785-f94c84352e91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1111&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-blend-mode: overlay;
  align-items: center;
}

.background-container {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('/public/assets/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88.2vh;
  display: flex;
  justify-content: center;
  background-blend-mode: overlay;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  right: 0px;
  width: 200px;
  background-color: white;
  font-weight: bold;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

li a {
  color: #000;
  text-decoration: none;
}

li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #e5e5e5;
  color: white;
}

.button {
  width: 178px;
  height: 18px;
  background-color: #ff3232;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.button:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right: 6px;
  top: 18px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__trigger {
  /* Add styles for the dropdown trigger button here */
}

.dropdown__menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown__item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-button {
  background-color: #ffffff;
  /* white */
  padding: 14px 20px;
  /* some padding */
  margin: 8px 0;
  /* a bit of margin */
  border: none;
  /* remove border */
  cursor: pointer;
  /* cursor pointer on hover */
  width: 100%;
  /* full width */
  opacity: 0.6;
  /* slightly transparent */
  border-radius: 12px;
  /* rounded corners */
}

.navbar-button:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.dropdown__submenu {
  color: black;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
}
